<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404 - Not found</title>
    <style>
        body {
            text-align: center;
            font-family: Ubuntu, sans-serif;
        }

        hr {
            min-width: 75px;
            width: 10%;
            max-width: 200px;
        }
    </style>
</head>
<body>
<h1>404 - Not found</h1>
<hr/>
<h4>Sorry, but the page '<i>{{.PageNotFound}}</i>' was not found.</h4>
</body>
</html>