@font-face {
    font-family: "DejaVu Sans Mono";
    src: url("DejaVuSansMono.ttf") format("truetype");
}

* {
    transition: 0.2s;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    color: #404040;
    background-color: #dfdfdf;
    margin: 0;
    padding-bottom: 5px;
}

body.dark-theme {
    color: #dfdfdf;
    background-color: #404040;
}

body.dark-theme div.master {
    border: 1px solid #dfdfdf;
}

.header {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(#c6c6c6, transparent);
}

body.dark-theme .header {
    background-image: linear-gradient(#3c3c3c, transparent);
}

.header > div {
    display: flex;
}

.header h1 {
    margin: 5px;
    padding-left: 5px;
}

#version {
    margin-bottom: 5px;
}

.header .search-div {
    min-width: 150px;
    width: 15%;
    margin: 5px;
}

#service-search-label {
    font-size: 16px;
    position: absolute;
    transform: translateY(15px);
    transition: all 0.2s ease;
    cursor: text;
}

#service-search:focus + #service-search-label,
#service-search:not(:placeholder-shown) + #service-search-label {
    font-size: 12px;
    transform: translateY(-5px);
    cursor: default;
}

#service-search {
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, 0.75);
}

body.dark-theme #service-search {
    color: #dfdfdf;
}

.header .options {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}

.header .options .vert-spacer {
    border-left: 1px solid #404040;
    height: 25px;
    margin-top: 5px;
}

.header .options div {
    padding: 0 10px;
}

.header .options span {
    transform: translateY(15%);
}

.header .options input[type='number'] {
    margin-left: 5px;
    min-width: 25px;
    max-width: 32px;
    padding: 7px 0;
    color: #404040;
    border: none;
    background-color: transparent;
    transition: 0.4s;
}

.header .options .options-button {
    border: 1px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    padding: 7px 7px;
    margin-top: 2px;
    background-color: transparent;
    cursor: pointer;
}

.header .options .options-button:active {
    cursor: progress;
}

body.dark-theme .header .options input[type='number'] {
    color: #dfdfdf;
}

body.dark-theme .header .options .options-button {
    color: #dfdfdf;
}

.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
    margin: 0 5px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #e3e3e3;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:focus:checked + .slider {
    box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

div.main-row {
    display: flex;
}

div.column {
    flex: auto;
    float: left;
    height: auto;
    padding: 0 3px;
    margin-top: 5px;
}

div.column.group {
    padding-top: 5px;
    margin: 2px;
}

div.column.group::before {
    content: attr(id); /*OMG insane*/
    color: black;
    font-weight: bold;
    font-size: 20px;
}

body.dark-theme div.column.group::before {
    color: #dfdfdf;
}

div.column.group > div.master:first-child {
    margin-top: 10px;
}

div.master {
    border: 1px solid #404040;
    border-radius: 5px 5px 0 0;
    margin-bottom: 20px;
}


div.master h3 {
    font-size: 1em;
    font-family: Arial, sans-serif;
    cursor: pointer;
    padding: 0;
    margin: 1px 0;
}

div.master.hidden {
    display: none;
}

.time-table {
    margin-top: -20px;
    width: 100%;
    font-size: 0.8em;
}

.time-table tr {
    display: flex;
    justify-content: space-between;
}

.master, .status-table {
    width: 100%;
}

.status-table tbody {
    font-size: 0.7em;
}

.status-table, tbody, .status-table tr {
    border-collapse: collapse;
    padding: 1%;
}

.status-table td:first-child {
    border-left: none !important;
}

.status-table td {
    max-width: 60px;
    border-collapse: collapse;
    padding: 4px 5px;
    border-top: 1px solid #404040;
    border-left: 1px solid #404040;
    font-family: "DejaVu Sans Mono", sans-serif !important;
}

td.on {
    background-color: #1BA94E;
}

td.warn {
    background-color: #ea8306;
}

td.off {
    background-color: rgb(202, 56, 20);
}

td.unknown {
    color: red;
    font-size: 1em;
    font-weight: bold;
    background-image: repeating-linear-gradient(135deg, #ccc, #ccc 5px, #bfbfbf 5px, #bfbfbf 10px);
}

body.dark-theme td.unknown {
    background-image: repeating-linear-gradient(135deg, #a3a3a3, #a3a3a3 5px, #979797 5px, #979797 10px);
}

.time-hint {
    position: absolute;
    font-size: 0.8em;
    margin-top: 5px;
}

#time-to {
    left: 0.5%;
}

#time-from {
    right: 0.5%;
}

#danger-text {
    display: none;
    color: #ff0033;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-100%);
    z-index: -5;
}

.modal-bg {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10vh;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    display: none;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    min-width: 25%;
    width: max-content;
    max-width: 75%;
}

body.dark-theme .modal-content {
    background-color: #404040;
    color: #dfdfdf;
}

.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
}

.modal-close:hover, .modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

body.dark-theme .modal-close:hover, .modal-close:focus {
    color: white;
}

#modal-loader {
    border: 5px solid #979797;
    border-radius: 50%;
    border-top: 5px solid #3c3c3c;
    width: 5vh;
    height: 5vh;
    /*margin-left: 50%;
    transform: translateX(-50%);*/
    -webkit-animation: loader 2s linear infinite; /* Safari */
    animation: loader 2s linear infinite;
}

.modal-content h2 {
    margin-top: 5px;
}

.modal-content pre {
    width: max-content;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 25px;
    background-color: #e3dfd3;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 1.5em;
}

body.dark-theme .modal-content pre {
    background-color: #3c3c3c;
}

#doc-link {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    font-weight: bold;
    color: #2d2d2d;
}

#doc-link:hover {
    text-shadow: 5px -5px 10px rgba(8, 8, 8, 0.5);
}

body.dark-theme #doc-link {
    color: #fefefe;
}

#mbm {
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    /*display: none;*/
    font-size: 0;
    font-family: Verdana, sans-serif;
    color: #2730b5;
    animation: mbm-glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes mbm-glow {
    from {
        color: #2730b5;
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #2730b5, 0 0 40px #2730b5, 0 0 50px #2730b5, 0 0 60px #2730b5, 0 0 70px #2730b5;
    }

    to {
        color: #bf6823;
        text-shadow: 0 0 20px #fff, 0 0 30px #bf6823, 0 0 40px #bf6823, 0 0 50px #bf6823, 0 0 60px #bf6823, 0 0 70px #bf6823, 0 0 80px #bf6823;
    }
}
